/*S layout*/
@media screen and (min-width:768px)
{
  .sidebar{flex-basis:200px;
  align-items: flex-start;}
  .disappear{display:inline;}  
  .spotilogo{display:none;}
  


 
} 

/*Md layout*/ 
@media screen and (min-width:890px)
{
.listened-row{flex-wrap:nowrap;
gap: 0;
row-gap:0;}
.listened-card{padding:10px;}


.recently-played{margin:30px;}

.disappear{display: inline;}
}


/*Lg layout*/ 
@media screen and (min-width:1200px)
{
.listened-row{flex-wrap: nowrap;}
}
