* {margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Montserrat, sans-serif;}


/*header*/ 
header{height:80px;
background-color: rgb(10, 6, 40);
position:sticky;
top:0;
bottom:0;
right:0;
left:0;}

.homepage{ background-color: black;
    height:calc(100vh - 80px);
 overflow: auto;
 display:flex;
} 

.homepage-wrapper{
height:calc(100vh- 80px);
overflow: auto;}




/*sidebar*/
.sidebar{background-color: black;
flex-basis:70px;
height:100%;
flex-shrink: 0;
flex-grow: 0;}  

/*Main*/ 
main{overflow: auto;
flex-grow:1;
background-color: rgb(18, 18, 39) ;
flex-shrink: 1;
flex-basis:auto;
color:white;}

 /*Footer*/
    
 footer{
 height:80px;
background-color: rgb(85, 85, 85);
}
    

/*Recently listened*/ 
.recently-played{}

.listened-row{display:flex;
flex-direction:row;
gap:1rem;
width:auto;
flex-wrap:wrap; 
justify-content: center;
align-items: center;
row-gap:1.5rem;
}

.listened-col{flex-basis:calc(50% - 20px /2);
height:45%;}

.listened-card, .card{height:200px;
    width:200px;
    border: dashed white;
   
}



/*created for you*/
.created-row, .popular-row{display:flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap:15px;
}



/*Utilities*/ 
sub{color:rgb(123, 123, 123);
font-size: small;}