* {margin: 0px;
padding: 0px;
box-sizing: border-box;
font-family: Montserrat, sans-serif;}


/*header*/ 
header{height:80px;
background-color: rgba(10, 6, 40, 0.5);
position:sticky;
top:0;
bottom:0;
right:0;
left:0;
display:flex;
justify-content: end;
align-items: center;}

button{border-color: white;
    background-color: rgba(10, 6, 40, 0.5); ;
padding: 15px 40px;
border-radius: 40px;
color:white;
}

/*Homepage*/

.homepage{ background-color: black;
    height:calc(100vh - 80px);
 overflow: auto;
 display:flex;
} 

.homepage-wrapper{
height:calc(100vh- 80px);
overflow: auto;}




/*sidebar*/
.sidebar{background-color: black;
flex-basis:45px;
height:100%;
flex-shrink: 0;
flex-grow: 0;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;}  

.lower-sidebar{margin-bottom:20px;}

.sidebar img{height:30px;
    margin-top:5px;
    }

    .middle-sidebar ul{list-style-type:none ;}

    .plus{background-color: white;
    color:black;
padding:5px;}

.playlist{display:flex;
align-items: center;
margin-bottom:5px;}

ul{color:rgb(130, 130, 130)}

.sidebar-element{display:flex;
    align-items: flex-end;

}

.user{background-color:gray;
border-radius:50%;}

/*Main*/ 
main{overflow: auto;
flex-grow:1;
background-color: rgb(18, 18, 39) ;
flex-shrink: 1;
flex-basis:auto;
color:white;}

 /*Footer*/
    
 footer{
 height:80px;
background-color: rgb(40, 34, 34);
display: flex;
color:white;
font-size:10px;
flex-basis:100%;

}
    .footer-listening{display:flex;
     
     justify-content: flex-start;
     align-items: center;
     gap:10px;
     font-size: 10px;
     flex-basis:33%;
   }

.footer-img{
    height:35px;
    width:35px;
}


footer i{display:block;}

.footer-choice{display:flex;
    justify-content: space-around;
    font-size:1rem;
    width:100%;
    padding-top:10px;
    
  
}

.footer-player{display:flex;
flex-direction: column;
gap:10px;
flex-basis:33%;
align-items: center;
justify-content: space-between;
}


.footer-settings{display:flex;
flex-basis:33%;
align-items: center;
gap:5%;
justify-content: end;}

/*Recently listened*/ 
.recently-played{margin: 80px, 20px, 30px;}

.listened-row{display:flex;
flex-direction:row;
gap:1rem;
width:auto;
flex-wrap:wrap; 
justify-content: center;
align-items: center;
row-gap:1.5rem;
}

.listened-col{flex-basis:calc(50% - 2rem /2);
height:45%;
display:flex;
flex-direction: column;}

.listened-card, .card{height:150px;
    padding-bottom:20px;

}

img{max-height: 100%;
max-width: 100%;
}

/*created for you*/
.created-row, .popular-row{display:flex;
flex-direction: row;
align-items: center;
justify-content: flex-start;
gap:15px;
}

.created-for, .popular-artist{margin-top: 50px;
padding: 10px;}

/*Popular artists*/

.popular img{border-radius:50%;}
/*Utilities*/ 
sub{color:rgb(123, 123, 123);
font-size: small;
line-height: 20px;}

.disappear{display:none;
color:white;}

.footer-symbols{display: flex;
flex-direction: column;
align-items: center;}

.meter{width:300px;}

